<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="base/base :: base_head"/>
    <title>多媒体文件预览</title>
    <link rel="stylesheet" href="plyr/plyr.css" th:href="@{/plyr/plyr.css}">
</head>
<style>
    body{background-color: #262626}
    .m{ margin-left: auto; margin-right: auto; width:640px; margin-top: 100px; }
</style>
<body>
<div class="m">
    <video controls>
        <source src="" th:src="@{/preview/readFile(docId=${docId})}">
    </video>
</div>
<script src="plyr/plyr.js" th:src="@{/plyr/plyr.js}"></script>
<script>
    plyr.setup();
</script>
</body>

</html>
