<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="base/base :: base_head"/>
    <title th:text="${fileName}">PDF图片预览</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--    <script src="/js/watermark.js" th:src="${baseUrl + '/js/watermark.js'}" type="text/javascript"></script>-->

    <link rel="stylesheet" href="/css/viewer.min.css" th:href="${baseUrl + '/css/viewer.min.css'}">
    <style>
        body {
            background-color: #404040;
            margin: 0 auto;
        }
        .container {
            width: 100%;
            height: 100%;
            text-align: center;
        }
        .img-area {
            width: 100%;
            text-align: center;
        }
        .my-photo {
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    </style>
</head>
<body>
<div id="container" class="container">
    <div class="img-area" th:each="page : ${#numbers.sequence(0, pageCount)}">
        <img class="my-photo" alt="loading" data-page="-1" th:data-page="${page}" th:data-src="${baseUrl + '/pdfPage/' + docId + '/' + page}" src="images/loading.gif" th:src="${baseUrl + '/images/loading.gif'}" />
    </div>
</div>
<script src="/js/viewer.min.js" th:src="${baseUrl + '/js/viewer.min.js'}"></script>
<script>
    var viewer = new Viewer(document.getElementById('container'), {
        url(img) {
            console.log(img.attributes['data-src'].value);
            return img.src = img.attributes['data-src'].value;
        },
        navbar: false,
        button: false,
        backdrop: false,
        movable: false,
        title: false,
        slideOnTouch: true,
        toggleOnDblclick: true,
        toolbar: {
            zoomIn: true,
            zoomOut: true,
            reset: true,
        }
    });
</script>
</body>
</html>